body{
  background-color       : lavenderblush;
  background-image       : url("../download.jpeg");
  background-repeat      : no-repeat;
  background-attachment  : fixed;
  background-position    : right;
}

#satu{
  background  :lightpink; 
  color       :darkred;
  font-size   :30px;
}

#dua{
  background  :lightblue;
  color       :darkblue;
  font-size   :20px;
}