body{
  background-color:lavenderblush;
}

#satu{
  background  :lightpink; 
  color       :darkred;
  font-size   :30px;
}

#dua{
  background  :lightblue;
  color       :darkblue;
  font-size   :20px;
}